.call-details {
    padding: 5%;
    font-size: 16px;
    border: 1px solid gray;
    margin: 5%;
    border-radius: 20px;
}

.call-details > .archive-button {
    background-color: #c5a31b;
    color: white;
    padding: 2%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}