.inbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FDFDFC;
}

.month {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
}

.inbox > .month > .item {
    display: flex;
    border: 1px solid #E9E9E8;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 3%;
}

.inbox > .month > .date {
    text-align: center;
    text-transform: uppercase;
}



.feed-view {
    overflow-y: scroll;
    height: 41em;
}