.inbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FDFDFC;
}

.inbox > .archive-button {
    border: 1px solid #E9E9E8;
    width: 82%;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 1em;

}

.month {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
}

.inbox > .month > .item {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr; 
    border: 1px solid #E9E9E8;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 3%;
}

.to {
    color: #B0B0B0;
    font-size: 12px;
}

.inbox > .month > .date {
    text-align: center;
    text-transform: uppercase;
    color: #BBBBBA;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 1em;
}



.feed-view {
    overflow-y: scroll;
    height: 41em;
}