.tabnav {
    display: flex;
    border-bottom: 1px solid #e1e4e8;
    box-sizing: border-box;
    justify-content: space-between;
}

.tabnav > .activity {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    padding: 3%;
}

.tabnav > .tabs {
    display: flex;
    gap: 30px;
    border-top: 1px solid #F0F0F0;
    border-left: 1px solid #F0F0F0;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
}

.tabnav > .tabs > div {
    display: flex;
    align-items: center;
}

.tabnav > .tabs > .active {
    border-bottom: 3px solid #FC5624;
    font-weight: bold;
}